@import url(./global.css);

header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

header h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    text-transform: uppercase;
}

header h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    text-transform: uppercase;
}

header h1 span {
    font-weight: var(--font-weight-h1-span);
}